form {
    max-width: 500px; 
    margin: 0 auto;  
    padding: 20px; 
    background-color: rgba($color: #000000, $alpha: 2.0);
    border-radius: 10px; 
    border: 1px solid rgba($color: grey, $alpha: 1.0);
}
input:not(input[type="range"]), input[type="submit"] {
    all: unset;
    padding: 15px 20px; 
    border-radius: 7px; 
    border: 1px solid rgba(255, 255, 255, 0.4);  
    background-color: black;
    margin-bottom: 10px; 
    font-size: 15px; 
    color: white; 
    width: 90%;  
    &::placeholder{
        color: blanchedalmond;
    } 
}  

input[type="submit"],
.social__btn {
  border-radius: 7px;
  padding: 12px 20px;   
  background-color: blanchedalmond !important;
  color: rgba($color: $red, $alpha: 1) !important;
  text-align: center !important;
  cursor: pointer;
  display: block;
  border: none;
  &:focus {
    outline: none;
  }
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  
}

