extends base.pug

block content
    form(method="POST", enctype="multipart/form-data").edit-profile-form
        //- img(src="/"+ loggedInUser.avatarUrl, width="100",height="100")
        label(for="avatar") Avatar
        input(type="file", id="avatar" name="avatar", accept="image/*")
        input(name="name", type="text", required, placeholder="성명", value=loggedInUser.name)
        input(name="email", type="email", required,placeholder="이메일", value=loggedInUser.email)
        input(name="username", type="text", required,placeholder="사용자이름", value=loggedInUser.username )
        input(placeholder="Location", name="location", type="text", value=loggedInUser.location)
        input(type="submit", value="Update-profile")
        if !loggedInUser.socialOnly
            div.edit-profile-password
                hr
                a(href="/users/change-password") 비밀번호변경 &rarr;
